img{
	height: 300px;
	width: 200px;
}


button{
	padding: 10px 73px;
	background-color: rgb(237, 228, 61);
}

div{
	display:inline-block;
	padding-left: 20px;

}
body{
	border-style: solid;
	padding-bottom: : 10px;
	border-color: grey;
	width: 500px;
	height: 550px
}
h3{
    display: block;
	padding-left: 35px;
	color: rgb(45, 147, 236);
}



